a.navfont{
  font-size: 1.2em;
}
div.strech{
  min-height: 51px;
}
img.slides{
  padding-left: 10%;
  padding-right: 10%;

}
div.item{
  background-color: white;
}

h1{
  color: red;
}

img.brandpic{
  max-width: 70px;
}
img.themes{
  width: 20%;
  height: 20%;
  border: 2px solid white;
}
img.themes:hover{
  border: 2px solid red;
}

li.each_list{
  display: inline;
}
ul.themes_lists{
  padding-left:  8%;
  padding-right: 4%;
}
li.after{
  margin-left: 3%;
}
ul.themes_lists{
  padding-top: 3%;
}

div.theme_background{
  background-color: #2E2E2E;
  padding-bottom: 5%;
  min-height: 130px;
}
h2.header_theme{
  color: red;
  background-color: #2E2E2E;
  margin: 0 0;
  padding: 1% 1% 1% 1%;
}
