p.time{
  color: rgba(0, 0, 255, 0.46);
}
#formid{
  width: 500px;
  margin: 0 auto;
}
.form_element{
  width: 500px;
  margin: 0 auto;
}
textarea.extra{
  height: 90px;
}
#messagewall{
  border: 2px solid black;
  margin: 4% 4%;
}

p.inner{

}

p.user{
  padding: 2% 2% 0% 2%;
}

p.message{
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  word-wrap: break-word;
}

p.time{
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
