{% extends "base.html" %}

{% block content %}
<br><br>
<div id="theme_li"></div>

<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        变形金钢
      </div>
      <div class="panel-body">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/250x250" alt="haha">
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        变形金钢
      </div>
      <div class="panel-body">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/250x250" alt="haha">
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        变形金钢
      </div>
      <div class="panel-body">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/250x250" alt="haha">
        </a>
      </div>
    </div>
  </div>


  <div class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        变形金钢
      </div>
      <div class="panel-body">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/250x250" alt="haha">
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        变形金钢
      </div>
      <div class="panel-body">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/250x250" alt="haha">
        </a>
      </div>
    </div>
  </div>


</div>

{% endblock %}
