{% extends "base.html" %}

{% block content %}

<div id="about_li"></div>

<h1>关于我们</h1>
{{ filename }}
<img src="{{ imgpath }}">
<img src="http://b65.photo.store.qq.com/psu?/ef8af45a-3fc2-483e-ac97-387d88dca37a/C6ChaeIV5hpj1FXhJ2K4WEcJIqNZZG4akg5STgl4Upk!/b/YcpVxCavUAAAYqx4yiZHTwAA&bo=gALgAQAAAAABA0c!&rf=viewer_4">
<form action="/aboutus/" method="POST">
<input type="image" value="haha" name="image" src="http://www.scilt.org.uk/Portals/24/Library/Word%20Wizard/Wizard2015.jpg" width="50">
<input type="submit">
</form>

{% if session.logged_in %}

<p>area</p>

{% else %}
{{ he }}
<p>else</p>

{% endif %}

{% endblock %}
