{% extends "base.html" %}

{% block content %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide slides" src="http://img7.a.pcs.baidu.com/rest/2.0/pcs/thumbnail?method=generate&path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2F%E5%9B%BE%E7%89%87%2Fcoverpic.jpeg&app_id=246327&width=740&height=490" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>八度空间真人密室逃脱</h1>
          <p>无聊无聊无聊无聊？不要再犹豫了，来八度空间真人密室逃脱吧！</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide slides" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/D3IfjdGzGuH57v.0qs83RgqSDelGGuMZUWPMQk6gy*4!/b/dHMAAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>最新分店</h1>
          <p>各种各样丰富有趣的桌游！</p>
          <p><a class="btn btn-lg btn-primary" href="/store" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide slides" src="http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/Or7H9Av7JYUjJgoT6q*RRVhqQU1*nnj9xNZwCTRibkg!/b/dFsBAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>照片墙</h1>
          <p>他们玩的可开心了！</p>
          <p><a class="btn btn-lg btn-primary" href="/photos" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="fourth-slide slides" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/z4hTHa4ZHs1zZeWmHlNQj4fLpkE13esHyfBS0VVp.tE!/b/dHMAAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>迷失的灯光</h1>
          <p>我们细心打造的布景！</p>
          <p><a class="btn btn-lg btn-primary" href="/themes" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="fifth-slide slides" src="http://a1.qpic.cn/psb?/V137B4qr2mp2Ex/WGSm3J4LppWfRCsAaNuFhswGK.1bxOeE7OiO4FMhY.A!/b/dFwBAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Fifth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>祝福语</h1>
          <p>朋友们的衷心祝愿！</p>
          <p><a class="btn btn-lg btn-primary" href="/photos" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="sixth-slide slides" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/cNd5jWatHfg6b9OzicjeYOorrynQNTHXCi6oRgcgbvY!/b/dF0BAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Sixth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>精美的道具</h1>
          <p>如同80世纪实物的道具！</p>
          <p><a class="btn btn-lg btn-primary" href="/themes" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="seventh-slide slides" src="http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/PhFShGDUR3qDgq5B*bdxoLl87LlirkSKrs3P6pZ2*xU!/b/dFsBAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Seventh slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>欧式复古布景</h1>
          <p>欧洲的感觉！</p>
          <p><a class="btn btn-lg btn-primary" href="/themes" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="eighth-slide slides" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/oIAPyzZzYJIQOSNbUNTCzzVpu39HAt5QwCBDDoM.D9Q!/b/dF0BAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Eighth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>魔幻奇景</h1>
          <p>像魔幻小说一般！</p>
          <p><a class="btn btn-lg btn-primary" href="/themes" role="button">了解更多</a></p>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->




<div id="theme_slides" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#theme_slides" data-slide-to="0" class="active"></li>
    <li data-target="#theme_slides" data-slide-to="1"></li>
    <li data-target="#theme_slides" data-slide-to="2"></li>
  </ol>

<h2 class="header_theme">主题展示<span class="label label-default">New</span></h2>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active theme_background">
      <ul class="themes_lists">
        <li class="each_list"><a href="/themes/theme1"><img class="themes" src="http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/ap4Q*5S7dlFxspDBTBtH0mvORd5uqDxYHLIOSeT*qOY!/b/dFsBAAAAAAAA&bo=UgJYAlICWAIDCSw!&rf=viewer_4" alt="theme1"></a></li>
        <li class="each_list after"><a href="/themes/theme2"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/S*iHk*wqSPZ9C2zWrwP9YfyT2R6L6fnV8OWOHYCa2Ak!/b/dHMAAAAAAAAA&bo=kAJYApACWAIDCSw!&rf=viewer_4" alt="theme2"></a></li>
        <li class="each_list after"><a href="/themes/theme3"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme3"></a></li>
        <li class="each_list after"><a href="/themes/theme4"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme4"></a></li>

      </ul>
    </div>

    <div class="item theme_background">
      <ul class="themes_lists">
        <li class="each_list"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme1"></li>
        <li class="each_list after"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme2"></li>
        <li class="each_list after"><img class="themes" src="http://http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme3"></li>
        <li class="each_list after"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme4"></li>

      </ul>
    </div>

    <div class="item theme_background">
      <ul class="themes_lists">
        <li class="each_list"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme1"></li>
        <li class="each_list after"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme2"></li>
        <li class="each_list after"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme3"></li>
        <li class="each_list after"><img class="themes" src="http://a2.qpic.cn/psb?/V137B4qr2mp2Ex/4HAgHxoU64i7oRCp6whXweEhgVgdOaYGXVHfJutK9lY!/b/dF0BAAAAAAAA&bo=igJYAooCWAIDCSw!&rf=viewer_4" alt="theme4"></li>

      </ul>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#theme_slides" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#theme_slides" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">正祥一品店. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">（这里写文案）.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/2ObfFVl*CPWnutgsnn*5fdZ5Yib8zHSiMhUU1oCbhTo!/b/dFsBAAAAAAAA&bo=WQOAAkAGqwQFChg!&rf=viewer_4" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">湖东路店. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">（这里写文案）.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/u8rV8d9YbCNaBg.kMv0dAQZRfVr3cJhIpK1vWtVYik0!/b/dFsBAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4 alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">可以再加店面. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">（加文案）</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://a3.qpic.cn/psb?/V137B4qr2mp2Ex/u8rV8d9YbCNaBg.kMv0dAQZRfVr3cJhIpK1vWtVYik0!/b/dFsBAAAAAAAA&bo=wAOAAkAGKwQFCgE!&rf=viewer_4" alt="Generic placeholder image">
    </div>
  </div>


  <!-- /END THE FEATURETTES -->
{% endblock %}
