{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/wall.css">
<div id="wall_li"></div>
<h1>留言版</h1>
<br><br>

<div id="formid">
<form action="/wall/" id="wallform" method="post">
<input class="form_element" type="text" required="required" maxlength="15" size="20" placeholder="你的名字" name="name"><br>
<textarea class="form_element extra" required="required" name="comment" form="wallform" placeholder="请输入你想说的话...."></textarea>
<input class="form_element" type="submit" value="提交">
</form>
</div>

<div id="messagewall">

{% for message in messages %}
<p class="user inner">用户: {{ message.name }}</p>
<p class="message inner">留言: {{ message.content }}</p>
<p class="time inner">时间: {{ message.date.strftime("%Y-%m-%d %H:%M:%S") }}</p>
<hr class="featurette-divider">
{% endfor %}

</div>

{% endblock %}
